@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.media {
    margin-top: 12.9rem;

    h3 {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 3.6rem;
        color: #EB3030;
        margin-bottom: 2.4rem;
    }

    .images {
        display: flex;
        gap: 7.5rem;

        p {
            max-width: 313px;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.4rem;
            cursor: pointer;
            margin-top: 1rem;
            margin-bottom: 0.6rem;

            &:hover {
                color: blue;
            }
        }

        .date {
            color: rgba(65, 62, 62, 0.69);
            font-size: 1.6rem;
            font-weight: 400;
            margin-top: 1rem;
        }

        .paragraph {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.4rem;
            font-family: 'Poppins', sans-serif;
            // max-width: 31.1rem;
        }
    }
}

@media screen and (max-width:1024px) {
    .media {
        .images {
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width:768px) {
    .media {
        .images {
            flex-wrap: wrap;
            gap: 7rem;

            .image {
                width: 80%;
                height: auto;

                img {
                    width: 100%;
                    height: auto
                }

                p,
                .date,
                .paragraph {
                    font-size: 1.6rem;
                    margin-top: 1rem;
                }

                .paragraph {
                    max-width: 500px;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    .main{
        margin-top: 6rem;
    }
    .media {
        .images {
            flex-wrap: wrap;
            gap: 7em;

            .image {
                width: 90%;
                height: auto;

                img {
                    width: 100%;
                    height: auto ;
                }

                p,
                .date {
                    font-size: 1.6rem;
                    margin-top: 1rem;
                }

                .paragraph {
                    max-width: 40rem;
                }
            }
        }
    }

    .firstSection {
        .images {
            flex-wrap: wrap;
            gap: 8rem;

            .left {
                .image2 {
                    img {
                        width: 310px;
                    }
                }
            }

            .right {
                .image4 {
                    img {
                        width: 310px;
                    }
                }
            }
        }
    }
}