.container {
    margin-top: 15rem;
    display: flex;

    .left {
        flex: 0.4;
        width: 100%;
    }

    .right {
        flex: 0.6;
        margin-top: 8rem;

        .para1 {
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 3.7rem;
            margin-bottom: 1rem;
            max-width: 56.2rem;
        }

        .para2 {
            max-width: 53.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            color: rgba(65, 62, 62, 0.69);
            margin-bottom: 3.2rem;
        }

        .sub {
            display: flex;

            .input {
                max-width: 37.8rem;
                height: 4rem;
                outline: none;
                border-right: none;
                border-radius: 10px 0 0px 10px;
                padding-left: 2rem;
                border: 1px solid rgba(0, 0, 0, 0.25);

            }

            button {
                width: 15rem;
                border-radius: 0px 10px 10px 0px;
                border: none;
                height: 4rem;
                background: #EB3030;
                color: #fff;
                font-size: 1.7rem;
                cursor: pointer;

                &:hover {
                    background: #fc4242;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .container {
        margin-top: 12rem;
        flex-wrap: wrap;

        .right {
            margin-left: 0rem !important;
        }
    }
}

@media screen and (max-width:768px) {
    .container {
        flex-wrap: wrap;
        margin-bottom: 5rem;

    }
}


@media screen and (max-width:480px) {
    .container {
        margin-bottom: 5rem;

        .left{
            transform: scale(0.8);
        }
        .right{
            width: 100%;
          
        }
        .sub{
            width: 100%;
            flex-wrap: wrap;

            .input{
                border-radius: 10px !important;
            }
            button{
                border-radius: 10px !important;
                margin-left: 6rem;
                margin-top: 1rem;
            }
        }
    }
}