.container {
    width: calc(100% - 13.6rem);
    margin: auto;
    margin-top: 3.1rem;
    display: flex;
    gap: 6.6rem;

    .right {
        .menu {
            display: none;
        }

        .list {
            display: flex;

            li {
                list-style: none;
                font-size: 1.8rem;
                padding: 1.5rem;
                cursor: pointer;

                &:hover {
                    color: #c41e24;
                }

            }
        }
    }
}

@media screen and (max-width:768px) {
    .container {
        width: calc(100% - 6rem);
        justify-content: space-between;

        .right {
            .menu {
                display: flex;
                font-size: 3rem;
                z-index: 111 !important;
                cursor: pointer !important;
                position: relative;
            }

            .list {
                display: none;
                
            }
            
            .mobList {
                font-size: 2.4rem;
                display: flex;
                position: absolute;
                z-index: 10;
                opacity: 0.7;
                height: 100vh;
                top: 0rem;
                right:0rem;
                background: gray;
                gap: 2rem;
                width: 200px;
                text-align: center;
                flex-direction: column;
                color: #fff;

                > :first-child {
                    margin-top: 8rem;
                }

                >li {
                    &:hover {
                        color: #c41e24;
                        background: #000;
                    }
                }
            }
        }
    }
}

// @media screen and (max-width:768px) {
//     .container{

//     }
// }